---
import { Image } from "astro:assets"

import insta from 'public/images/instagram.png'
import linkedin from 'public/images/linkedin.png'
import github from 'public/images/github.png';
---

<style>
  footer {
    text-align: center;
    color: var(--highlight-color);
  }

  .footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
  }
</style>

<footer>
  <p>&lt;Social Links/&gt;</p>
  <div class="container-wrapper">
    <div class="footer-container">
      <div class="link">
       <a href="https://www.instagram.com/reece_garbutt_/"> <Image src={insta} alt='Instagram Link'/></a>
      </div>
      <div class="link"> <a href="https://ie.linkedin.com/in/reece-farrell-834654252"><Image src={linkedin} alt='LinkedIn Link'/></a></div>
      <div class="link">
        <a href="https://github.com/Garbutt"><Image src={github} alt='Github Link'/></a>
      </div>
    </div>
  </div>
</footer>
