---
import Layout from "@layouts/layout.astro";
---
<style>
  

    video{
        width: 100%;
        max-width: 500px;  
    }




</style>
<Layout title="Web Projects">
    
<section class="heading">
    <h1>My <span>Java Projects</span></h1>
</section>

<h3 class="project-heading">Home Insurance Calculator</h3>
<section class="project">
   <div class="background">
    <video controls="" poster="/images/javaProjects.png"><source src="/images/java1.mp4"> </video>
    <p class="project-text">
        This simple JAVA project is used for calculating the cost of home insurance and the cost of rent using a specific formula I developed which factors in the amout of rooms, windows etc.. it then returns the cost of rent and insurance and all the details about the house.
        <br><br>
        Since this project is built with JAVA, I used OOP, which is a style of programming in which developers build classes of objects that have methods linked to them. This means i can re-use code to make objects or use the classes for methods.
        <br><br>
        This project got me a distinction in college.
    </p>
   </div>
</section>

<h3 class="project-heading">2D Java Game</h3>
<section class="project">
   <div class="background">
    <video controls="" poster="/images/java2.png"><source src="/images/java2.mp4"> </video>
    <p class="project-text">
        In this project, I had to make a 2D Java game that has a player class, enemy class, and vector class. I made my own library for the classes and imported them into the main class.<br><br> I also had to implement default constructers, overloaded constructors, methods, overloaded methods, inheritence, and overloaded operators, making this project perfect for learning the fundementals of Java. 
        <br><br>
        This project got me a 30/30 in college.
    </p>
   </div>
</section>

<section class="project">
    <a href="/projects"><button class="return-button"><span class="material-symbols-outlined">
        arrow_back
        </span>Return</button></a>
</section>
</Layout>