:root {
  --primary-color: #090e25;
  --primary-bg-color: #090e25;
  --secondary-color: rgb(255, 255, 255);
  --secondary-bg-color: rgba(255, 255, 255, 1);
  --highlight-color: rgb(245, 137, 57);
  --border-radius: 1rem;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}

main {
  padding: 2rem;
  padding-top: 7.5rem;
}

h1 {
  font-size: 3.5rem;
  color: var(--secondary-color);
  text-align: center;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
  margin: 2em 0 0 0;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

:is(h1, h2, h3, h4) {
  font-family: sans-serif;
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

img {
  width: 100%;
}

input,
button,
textarea {
  font-size: 1.5rem;
  font-family: sans-serif;
  outline: var(--highlight-color);
}

p{
  font-size: 22px;
  padding: 1em;
}

.container-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-heading{
  color: var(--highlight-color);
  text-align: center
}

