---
import Layout from "@layouts/layout.astro"
import { Image } from "astro:assets"

import imageSearch from '../../../public/images/imageSearch.png';
import imageSearch2 from '../../../public/images/imageSearch2.png';
---

<style>
  section img{
        width: 90%;
        max-width: 500px;
        height: auto;
        border: solid 5px var(--highlight-color);
    }

    p{
        color: var(--secondary-color);
    }


</style>

<Layout title="Creating an image search engine">
    <section class="heading"><h1><span>Creating an image search engine</span></h1></section>

    <section class="blog-content">
   <div class="blog-content-wrapper">
    <Image src={imageSearch} alt='Image Search Engine Blog'/>
    <p>Since I was making a personal porfolio, I knew I would need some unique projects which not many people would have so that i could add them to it. That's when i came accross an image search engine idea while browsing online and knew it was a project and challenge that i wanted to work on</p>
    <Image src={imageSearch2} alt='Image Search Engine Blog'/>

    <h3><span>What does the image search engine do?</span></h3>
    <p>    The image search engine I created allows you to search hundreds of thousands of images in the matter of seconds. Its possible because of an access key linked to the JS code. The access key is from the developer API section on Unsplash. You can view the live image search engine site <span><a href="https://reece-f-image-search.netlify.app/" target="_blank">here</a></span>.</p>

    <a href="/blogs"><button class="return-button"><span class="material-symbols-outlined">
        arrow_back
        </span>Return</button></a>
    </div>
    </section>
</Layout>
